<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>FAQs</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="w3-container" style="padding:10px 0px;">
    <ul class="w3-ul w3-card-4" >
        <li> 
            <a class="w3-bar focus-visible-only">
                <div class="w3-bar-item" style="padding:8px;">
                    <span  style="vertical-align:middle;  font-weight: bold;"> faqs_question_1</span>
                </div>
            </a>
            
        </li>
        <span id="faqsitem" class="w3-bar focus-visible-only hide" href="javascript:void(0)">
                <div class="w3-bar-item" style="padding:8px; vertical-align:middle;">
                    <span> faqs_answer_1</span>
                </div>
            </span>
    </ul>
    <ul class="w3-ul w3-card-4" style="margin-top:5px;" >
        <li> 
            <a class="w3-bar focus-visible-only">
                <div class="w3-bar-item" style="padding:8px;">
                    <span  style="vertical-align:middle;  font-weight: bold;"> faqs_question_2</span>
                </div>
            </a>
            
        </li>
        <span id="faqsitem2" class="w3-bar focus-visible-only hide" href="javascript:void(0)">
                <div class="w3-bar-item" style="padding:8px; vertical-align:middle;">
                    <span> faqs_answer_2</span>
                </div>
            </span>
    </ul>
    <ul class="w3-ul w3-card-4" style="margin-top:5px;" >
        <li> 
            <a class="w3-bar focus-visible-only" >
                <div class="w3-bar-item" style="padding:8px;">
                    <span  style="vertical-align:middle;  font-weight: bold;"> faqs_question_3</span>
                </div>
            </a>
            
        </li>
        <span id="faqsitem3" class="w3-bar focus-visible-only hide" href="javascript:void(0)">
                <div class="w3-bar-item" style="padding:8px; vertical-align:middle;">
                    <span> faqs_answer_3</span>
                </div>
            </span>
    </ul>
    <ul class="w3-ul w3-card-4" style="margin-top:5px;" >
        <li> 
            <a class="w3-bar focus-visible-only" >
                <div class="w3-bar-item" style="padding:8px;">
                    <span  style="vertical-align:middle; font-weight: bold;"> faqs_question_4</span>
                </div>
            </a>
            
        </li>
        <span id="faqsitem4" class="w3-bar focus-visible-only hide" href="javascript:void(0)">
                <div class="w3-bar-item" style="padding:8px; vertical-align:middle;">
                    <span> faqs_answer_4</span>
                    <br>
                    <span style="vertical-align:middle; font-weight: bold;">Android: </span>
                    <br>
                    <span style="vertical-align:middle; font-weight: bold;">IOS: </span>
                </div>
            </span>
    </ul>
    <ul class="w3-ul w3-card-4" style="margin-top:5px;" >
        <li> 
            <a class="w3-bar focus-visible-only">
                <div class="w3-bar-item" style="padding:8px;">
                    <span  style="vertical-align:middle;  font-weight: bold;"> faqs_question_5</span>
                </div>
            </a>
            
        </li>
        <span id="faqsitem5" class="w3-bar focus-visible-only hide" href="javascript:void(0)">
                <div class="w3-bar-item" style="padding:8px; vertical-align:middle;">
                    <span> faqs_answer_5</span>
                    <a href=" https://canalsalut.gencat.cat/lamevasalut" target="_blank"> https://canalsalut.gencat.cat/lamevasalut</a>
                    <span> faqs_answer_5_2</span>
                </div>
            </span>
    </ul>
    <ul class="w3-ul w3-card-4" style="margin-top:5px;" >
        <li> 
            <a class="w3-bar focus-visible-only" >
                <div class="w3-bar-item" style="padding:8px;">
                    <span  style="vertical-align:middle;  font-weight: bold;"> faqs_question_6</span>
                </div>
            </a>
            
        </li>
        <span id="faqsitem6" class="w3-bar focus-visible-only hide" href="javascript:void(0)">
                <div class="w3-bar-item" style="padding:8px; vertical-align:middle;">
                    <span> faqs_answer_6</span>
                </div>
            </span>
    </ul>
    <ul class="w3-ul w3-card-4" style="margin-top:5px;" >
        <li> 
            <a class="w3-bar focus-visible-only">
                <div class="w3-bar-item" style="padding:8px;">
                    <span  style="vertical-align:middle;  font-weight: bold;"> faqs_question_7</span>
                </div>
            </a>
            
        </li>
        <span id="faqsitem7" class="w3-bar focus-visible-only hide" href="javascript:void(0)">
                <div class="w3-bar-item" style="padding:8px; vertical-align:middle;">
                    <span> faqs_answer_7</span>
                    <br>
                    <span> faqs_answer_7_2</span>
                </div>
            </span>
    </ul>
    <ul class="w3-ul w3-card-4" style="margin-top:5px;" >
        <li> 
            <a class="w3-bar focus-visible-only" >
                <div class="w3-bar-item" style="padding:8px;">
                    <span  style="vertical-align:middle;  font-weight: bold;"> faqs_question_8</span>
                </div>
            </a>
            
        </li>
        <span id="faqsitem8" class="w3-bar focus-visible-only hide" href="javascript:void(0)">
                <div class="w3-bar-item" style="padding:8px; vertical-align:middle;">
                    <span> faqs_answer_8</span>
                </div>
            </span>
    </ul>
</div>
</ion-content>
