<ion-content [fullscreen]="true" class="background-content settings-pages-grid">
  <ion-grid class="settings-pages-grid">
    <b class="settings-pages-title">
      {{"logs-selector.title"|translate}}
    </b>
    <ion-list class="logs-pages-list">
        <ion-item [routerLink]="['/tabs/logs/camera']">
          <ion-icon color="grey" name="camera" class="logs-pages-icon"></ion-icon><ion-text>{{"logs-selector.camera"|translate}}</ion-text>
        </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>