.toolbar {
    padding-right: 0.5rem;
}

.credential-content {
    --ion-background-color: #DDE6F6 !important;
}

.no-cred-box {
  white-space: pre-line;
  color: grey;
  padding: 45px;
  width: 70%;
  margin: 60px 15%;
  border-radius: 5px;
  background-color: #f2f4f8;
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-grow: 1;
  display: flex;
  text-align: center;
  justify-content:center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-button {
    text-transform: none !important;
    }

.popup-bg-cover {
  z-index: 9999;

  width: 100%;
  height: 100vh;

  background-color: rgba(128, 128, 128, 0.448);
}

.ebsi-popup {
  z-index: 99999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  width: auto;

  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 2px solid black;
  border-radius: 5px;

  background-color: red;
}

.did-data-wrapper div {
  display: flex;

  word-break: break-all;
}

.did-data-wrapper button {
  margin: 5px;

  background-color: transparent;
}

.did-data-wrapper span {
  padding: 20px;
  padding-right: 0px;
}

.next-button-ebsi {
  background-color: #00ADD3;

  font-family: 'Blinker-Regular', sans-serif;
  color: white;

  padding: 10px;

  border-radius: 5px;
}

.next-button-ebsi:hover {
  background-color: #0091b1;
}

.next-button-ebsi:active {
  background-color: #007995;
}

#did-text {
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scan-text{
  display: block;
  margin-block: 5px;
}

