<ion-header [translucent]="false">
  <ion-toolbar class="toolbar">
    <img alt src="assets/icon/dome_white_logo.png" width="auto" slot="start" height="35px"/>
    <ion-button slot="end" color="primary" class="toolbar-but" (click)="openPopover($event)">
      {{userName}}
      <ion-icon slot="end" class="ion-icon-home" size="small" name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-content" *ngIf="!toggleScan && !isAlertOpen">
  <ion-grid>
    <ion-text *ngIf="credList.length===0"> {{"credentials.nocred"|translate}}</ion-text>
    <ion-row class="ion-justify-content-center"
    *ngFor="let cred of credList">
      <app-vc-view (vcEmit)="vcDelete($event)" [credentialInput]="cred"></app-vc-view>
    </ion-row>
    <ion-row class="ion-align-items-end ion-justify-content-end custom-button-row">
      <ion-button shape="round" color="medium" size="large" (click)="scan()"> <div class="custom-button-content"><ion-icon size="large"color="light"name="add"></ion-icon> </div></ion-button>
    </ion-row>    
  </ion-grid>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="toggleScan && !isAlertOpen">
  <ion-grid  >
    <ion-text style="font-weight: bold;" *ngIf="from==='credential'">{{"home.add-credential"|translate}}</ion-text>
    <ion-text style="font-weight: bold;" *ngIf="from!=='credential'">{{"home.scan"|translate}}</ion-text>
    <ion-row class="ion-justify-content-center">
      <app-barcode-scanner *ngIf="show_qr" (qrCode)="qrCodeEmit($event)"></app-barcode-scanner>
    </ion-row>
    <ion-row *ngIf="scaned_cred" class="ion-justify-content-center">  <ion-button (click)="credentialClick()">Get credential</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="isAlertOpen">
  <ion-grid style="text-align: center;">
    <p style="text-align: left !important; font-size: 16px; font-weight: bold; padding-left:10px">{{ 'home.ok-msg' | translate }}</p>
    <img src="../assets/icon/Tick/checkmark-verd.png" alt="g-maps" style="border-radius: 2px; width: 200px; height: 200px;">
    <ion-row class="ion-justify-content-center">
      <app-vc-view (vcEmit)="vcDelete($event)" [credentialInput]="credList[0]"></app-vc-view>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-alert
  [isOpen]="isAlertOpenFail"
  class="custom-alert"
  [header]="'home.unsucces' | translate"
  [message]="'home.already-saved' | translate"
  (didDismiss)="setOpen(false)"
></ion-alert>

<ion-alert
  [isOpen]="isAlertOpenNotFound"
  class="custom-alert"
  [header]="'home.unsucces' | translate"
  [message]="'home.no-credential' | translate"
  [buttons]="alertButtons"
  (didDismiss)="setOpenNotFound(false)"
></ion-alert>
