.toolbar {
    padding-right: 0.5rem;
}

.credential-content {
    --ion-background-color: #DDE6F6 !important;
}

.no-cred-box {
  white-space: pre-line;
  color: grey;
  padding: 45px;
  width: 70%;
  margin: 60px 15%;
  border-radius: 5px;
  background-color: #f2f4f8;
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-grow: 1;
  display: flex;
  text-align: center;
  justify-content:center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-button {
    text-transform: none !important;
    }

.popup-bg-cover {
  z-index: 9999;

  width: 100%;
  height: 100vh;

  background-color: rgba(128, 128, 128, 0.448);
}

.scan-text{
  display: block;
  margin-block: 5px;
}

.wallet-style-swiper {
  height: 100%;
  padding: 20px 0;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }

  app-vc-view {
    width: 90%;
    max-width: 360px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    background: white;
    transition: all 0.3s ease;
  }
}
