<!-- CREDENTIALS LIST -->
<ion-content [fullscreen]="true" class="background-content" *ngIf="!toggleScan && !isAlertOpen">
  <ion-grid>
    <ion-text *ngIf="credList.length===0"> {{"credentials.nocred"|translate}}</ion-text>
    <ion-row class="ion-justify-content-center"
    *ngFor="let cred of credList">
      <app-vc-view (vcEmit)="vcDelete($event)" [credentialInput]="cred"></app-vc-view>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-row class="ion-align-items-end ion-justify-content-end custom-button-row">
  <ion-button (keydown)="handleButtonKeydown($event, 'scan')"
   shape="round" color="medium" size="large" (click)="scan()">
   <div class="custom-button-content">
    <ion-icon size="large" color="light" name="add">
    </ion-icon>
   </div>
  </ion-button>
</ion-row>

<!-- SCANNER -->
<ion-content [fullscreen]="true" *ngIf="toggleScan && !isAlertOpen"> 
  <ion-grid  >
    @if(from!=='credential'){
    <ion-text style="font-weight: bold;">{{"credentials.add-credential"|translate}}</ion-text>
    <ion-text style="font-weight: bold;">{{"credentials.scan"|translate}}</ion-text>
    } 
    <ion-row class="ion-justify-content-center">
      <!--todo reconsider the show_qr condition; it can only be false while toggleScan is true-->
      <app-barcode-scanner *ngIf="show_qr" (qrCode)="qrCodeEmit($event)"></app-barcode-scanner>
    </ion-row>
      <!-- todo currently is never shown, since scaned_cred is true only after qrCodeEmit, which hides scanner immediately -->
      <!-- todo with the pending refactor scan will be shown; but still, this only shows a popup which info already displayed in another popup -->
    <ion-row *ngIf="scaned_cred" class="ion-justify-content-center">  <ion-button (click)="credentialClick()"  (keydown)="handleButtonKeydown($event, 'getCredential')">{{"credentials.get-cred"}}</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- NEW CREDENTIAL SUCESS POPUP (INFO ONLY)-->
 @if(scaned_cred){
  <ion-content [fullscreen]="true">
    <ion-grid style="text-align: center;">
      <p style="text-align: left !important; font-size: 16px; font-weight: bold; padding-left:10px">{{ 'credentials.ok-msg' | translate }}</p>
      <img src="../assets/icon/Tick/checkmark-verd.png" alt="g-maps" style="border-radius: 2px; width: 200px; height: 200px;">
      <ion-row class="ion-justify-content-center">
        <!-- ? could credential be removed at this point? is this what we want? -->
        <app-vc-view (vcEmit)="vcDelete($event)" [credentialInput]="credList[0]"></app-vc-view>
      </ion-row>
    </ion-grid>
  </ion-content>
 }

<!-- EBSI POPUP -->
<!-- TODO: This should be moved to the settings page because this is something recreated to ebsi and this option is enabled in the settings page -->
@if(ebsiFlag){
  <div class="popup-bg-cover"></div>

  <div class="ebsi-popup">
    <span>{{ 'credentials.ebsi-popup.info' | translate }}</span>
    <div class="did-data-wrapper">
      <div>
        <span id="did-text">
          <strong>{{ 'credentials.ebsi-popup.did' | translate }}</strong>
          {{did}}
        </span>
        <button (click)="copyToClipboard('did-text')" title="{{ 'credentials.copy' | translate }}">
          <ion-icon name="copy-outline" style="font-size: 30px;"></ion-icon>
        </button>
      </div>
      <div>
        <span>
          <strong>{{ 'credentials.ebsi-popup.credential-offer' | translate }}</strong>{{credOfferEndpoint }}
        </span>
        <button (click)="copyToClipboard('endpoint-text')" title="{{ 'credentials.copy' | translate }}">
          <ion-icon name="copy-outline" style="font-size: 30px;"></ion-icon>
        </button>
      </div>
    </div>
    <button class="next-button-ebsi" (click)="scan()">{{ 'credentials.ebsi-popup.next' | translate }}</button>
  </div>
}