<ion-content [fullscreen]="true" class="background-content" *ngIf="!toggleScan && !isAlertOpen">
  <ion-grid>
    <ion-text *ngIf="credList.length===0"> {{"credentials.nocred"|translate}}</ion-text>
    <ion-row class="ion-justify-content-center"
    *ngFor="let cred of credList">
      <app-vc-view (vcEmit)="vcDelete($event)" [credentialInput]="cred"></app-vc-view>
    </ion-row>
    <ion-row class="ion-align-items-end ion-justify-content-end custom-button-row">
      <ion-button shape="round" color="medium" size="large" (click)="scan()"> <div class="custom-button-content"><ion-icon size="large"color="light"name="add"></ion-icon> </div></ion-button>
    </ion-row>    
  </ion-grid>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="toggleScan && !isAlertOpen">
  <ion-grid  >
    <ion-text style="font-weight: bold;" *ngIf="from==='credential'">{{"home.add-credential"|translate}}</ion-text>
    <ion-text style="font-weight: bold;" *ngIf="from!=='credential'">{{"home.scan"|translate}}</ion-text>
    <ion-row class="ion-justify-content-center">
      <app-barcode-scanner *ngIf="show_qr" (qrCode)="qrCodeEmit($event)"></app-barcode-scanner>
    </ion-row>
    <ion-row *ngIf="scaned_cred" class="ion-justify-content-center">  <ion-button (click)="credentialClick()">Get credential</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="scaned_cred">
  <ion-grid style="text-align: center;">
    <p style="text-align: left !important; font-size: 16px; font-weight: bold; padding-left:10px">{{ 'home.ok-msg' | translate }}</p>
    <img src="../assets/icon/Tick/checkmark-verd.png" alt="g-maps" style="border-radius: 2px; width: 200px; height: 200px;">
    <ion-row class="ion-justify-content-center">
      <app-vc-view (vcEmit)="vcDelete($event)" [credentialInput]="credList[0]"></app-vc-view>
    </ion-row>
  </ion-grid>
</ion-content>

<div *ngIf="ebsiFlag" class="popup-bg-cover"></div>

<div class="ebsi-popup" *ngIf="ebsiFlag">
  <span>{{ 'home.ebsi-popup.info' | translate }}</span>
  <div class="did-data-wrapper">
    <div>
      <span id="did-text"><strong>{{ 'home.ebsi-popup.did' | translate }} </strong>{{did}}</span><button
        (click)="copyToClipboard('did-text')" title="{{ 'home.copy' | translate }}"><ion-icon name="copy-outline"
          style="font-size: 30px;"></ion-icon></button>
    </div>
    <div>
      <span><strong>{{ 'home.ebsi-popup.credential-offer' | translate }}</strong>{{credOfferEndpoint }}</span><button (click)="copyToClipboard('endpoint-text')" title="{{ 'home.copy' | translate }}"><ion-icon
          name="copy-outline" style="font-size: 30px;"></ion-icon></button>
    </div>
  </div>
  <button class="next-button-ebsi" (click)="scan()">{{ 'home.ebsi-popup.next' | translate }}</button>
</div>