<ion-content [fullscreen]="true" class="background-content">
  <ion-list class="settings-list">
    @for(log of cameraLogs; track $index){
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text>Log message: {{log.message}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Date: {{log.date | date: 'short'}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-divider></ion-item-divider>
    }@empty {
      <div>No camera logs to show.</div>
    }
  </ion-list>
</ion-content>

     
 