<ion-header [translucent]="false">
  <ion-toolbar class="toolbar-padding" >
    <img alt src="assets/icon/dome_white_logo.png" width="auto" slot="start" height="35px"/>
    <ion-button slot="end" color="primary" class="toolbar-but" (click)="openPopover($event)">
      {{userName}}
      <ion-icon slot="end" class="ion-icon-home" size="small" name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="background-content">
  <b class="pages_titles">
    {{"settings.title"|translate}}
  </b>
  <ion-list>
    <ion-item [routerLink]="['/tabs/camera-selector']">

      <ion-icon color="grey" name="camera"
      class="settings-icon"></ion-icon><ion-text>{{"camera-selector.title"|translate}}</ion-text>
    </ion-item>
    <ion-item [routerLink]="['/tabs/language-selector']">

      <ion-icon color="grey" name="globe-outline"
      class="settings-icon"></ion-icon>{{"language-selector.title"|translate}}
    </ion-item>
    <ion-item (click)="goHomeWithEBSI()">

      <ion-icon color="grey" name="id-card-outline" style="margin-right: 1rem;"></ion-icon>{{"ebsi.title"|translate}}
    </ion-item>
    <ion-item (click)="logout()">

      <ion-icon color="grey" name="log-out-outline" style="margin-right: 1rem;"></ion-icon>{{"menu.logout"|translate}}
    </ion-item>

  </ion-list>


  <ion-alert [isOpen]="isAlertOpen" class="custom-alert" (didDismiss)="toggleAlert()" [header]="'home.unsucces' | translate" [message]="'home.error-ebsi' | translate"></ion-alert>

</ion-content>
