<ion-content [fullscreen]="true" class="background-content">
  <b class="pages_titles">
    {{"settings.title"|translate}}
  </b>
  <ion-list class="settings-list">
      <ion-item [routerLink]="['/tabs/camera-selector']">
        <ion-icon color="grey" name="camera" class="settings-icon"></ion-icon><ion-text>{{"camera-selector.title"|translate}}</ion-text>
      </ion-item>
      <ion-item [routerLink]="['/tabs/language-selector']">
        <ion-icon color="grey" name="globe-outline"  class="settings-icon"></ion-icon>{{"language-selector.title"|translate}}
      </ion-item>
      @if(featureLogsEnabled){
        <ion-item [routerLink]="['/tabs/logs']"> 
          <ion-icon color="grey" name="document-text-outline"  class="settings-icon"></ion-icon>{{"logs-selector.title"|translate}}
        </ion-item>
        <ion-button (keydown.enter)="sendCameraLogs()" (keydown.space)="sendCameraLogs()" (click)="sendCameraLogs()">{{"logs-selector.send"|translate}}</ion-button>
      } 
  </ion-list>


  <ion-alert [isOpen]="isAlertOpen" class="custom-alert" (didDismiss)="toggleAlert()" [header]="'credentials.unsucces' | translate" [message]="'credentials.error-ebsi' | translate"></ion-alert>

</ion-content>
