<ion-card style="background-color: #ffffff; width:200px; height:220px; border-radius: 20px; box-shadow: none;">
  <div style="position: absolute; top: 0; right: 10; width: 50%; height: 50%; background-color: #DDE6F6; border-radius: 0% 0% 75% 75%; transform: translateX(85%) translateY(-90%); z-index: 1;"></div>
<ion-card-header style="background-color:var(--ion-color-primary); padding: 12px;"> </ion-card-header>
  <ion-col>
    <ion-col>
      <ion-row style="margin-left: 12px;">
        <img alt src="assets/icon/dome_logo.png" width="auto" height="40px"/>
      </ion-row>
    </ion-col>
    <ion-col>
      
        <ion-col size="12">
          <ion-card-header style="padding: 0% !important; margin-left:22px; margin-bottom: 25px;">
            
            <ion-row>
              <ion-card-title style="color:black; font-size:12px; font-weight: bold;"
                >{{ cred["credentialSubject"]["first_name"] }} {{ cred["credentialSubject"]["last_name"] }}</ion-card-title
              >
            </ion-row>
            <ion-row style="margin-top: 5px;">
              <ion-card-title style="color:black; font-size:12px;"
                >LEAR Credential</ion-card-title
              >
            </ion-row>
            
          </ion-card-header>
        </ion-col>
        <ion-col size="12" align-self-end style="margin-left:12px;">
            <ion-row style="justify-content: end;">
              <ion-button
                  size="small"
                  style="padding: 0%; --background: #ffffff; --box-shadow: none; box-shadow: none;"
                  (click)="deleteVC()"
                  ><ion-icon style="color: grey;" name="trash-outline"></ion-icon
                ></ion-button>
            </ion-row>
        </ion-col>
      
    </ion-col>
  </ion-col>

  <span></span>
  <ion-alert
    [isOpen]="isAlertOpenNotFound"
    class="custom-alert"
    header="Alerta"
    message="Al generar este código, aceptas que los datos contenidos en tu permiso, y su situación legal, se muestren en el dispositivo lector para verificar su validez."
    [buttons]="alertButtons"
    (didDismiss)="setOpenNotFound(false)"
  ></ion-alert>
  <ion-modal [isOpen]="isModalOpen" id="example-modal" #modal>
    <ng-template>
      <div class="wrapper">
        <ion-header>
          <ion-toolbar>
            <ion-title>QR Credential</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content style="min-height: 24rem" class="ion-padding">
          <qr-code [value]="cred['id']" [size]="350"></qr-code>
        </ion-content>
      </div>
    </ng-template>
    
  </ion-modal>

  <ion-alert
    [isOpen]="isModalDeleteOpen"
    class="custom-alert-delete"
    [header]="'vc-view.delete-header' | translate"
    [message]="'vc-view.delete-message' | translate"
    [buttons]="deleteButtons"
    (didDismiss)="setOpenDeleteNotFound(false)"
  ></ion-alert>

  <ion-row style="position: absolute; bottom: 0; width: 100%; background-color: var(--ion-color-primary); padding: 4px;">
    <ion-col></ion-col>
  </ion-row>
</ion-card>
