<ion-card>
    <ion-row>
      <ion-col>
        <img alt
          src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
        />
      </ion-col>
      <ion-col>
        <ion-grid>
        <ion-col col-12>
          <ion-card-header>
            <ion-row>
              <ion-card-title
                >{{ cred["credentialSubject"]["first_name"] }}
                {{ cred["credentialSubject"]["last_name"] }}</ion-card-title
              >
            </ion-row>
            <ion-row>
              <ion-card-title
                >{{ cred["credentialSubject"]["gender"] }}
              </ion-card-title>
            </ion-row>
            <ion-row>
              <ion-card-title
                >{{ cred["credentialSubject"]["dateOfBirth"] }}
              </ion-card-title>
            </ion-row>
            <ion-row>
              <ion-card-subtitle>{{ cred["vcType"][1] }}</ion-card-subtitle>
            </ion-row>
          </ion-card-header>
        </ion-col>
        <ion-col col-12 align-self-end>
          <ion-row class="ion-justify-content-center"
            ><ion-button (click)="qrView()"
              ><ion-icon name="qr-code-outline"></ion-icon
            ></ion-button> </ion-row
        >
      </ion-col>
    </ion-grid>
      </ion-col>
    </ion-row>
    <span></span>
    <ion-alert
[isOpen]="isAlertOpenNotFound"
class="custom-alert"
header="Alerta"
message="Al generar este código, aceptas que los datos contenidos en tu permiso, y su situación legal, se muestren en el dispositivo lector para verificar su validez."
[buttons]="alertButtons"
(didDismiss)="setOpenNotFound(false)"
></ion-alert>
<ion-modal [isOpen]="isModalOpen" id="example-modal" #modal >
  <ng-template>
    <div class="wrapper">
    <ion-header>
      <ion-toolbar>
        <ion-title>QR Credential</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content style="min-height: 24rem;"class="ion-padding">
      <qr-code [value]="cred['id']" [size]="350"></qr-code>
    </ion-content>
  </div>
  </ng-template>
</ion-modal>
</ion-card>

