<ion-card style="background-color: white; width:200px; height:275px; border-radius: 20px;">
  <div style="position: absolute; top: 0; right: 10; width: 50%; height: 50%; background-color: #ffffff; border-radius: 0% 0% 75% 75%; transform: translateX(85%) translateY(-90%); z-index: 1;"></div>
<ion-card-header style="background-color:var(--ion-color-primary); padding: 12px;"> </ion-card-header>
  <ion-col>
    <img alt src="assets/icon/bannerLogo2.png" width="auto" height="40px"/>
    <ion-col style="margin-left: 35px">
      <img
        width="70"
        height="70"
        margin-left="20px"
        alt
        src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
      />
    </ion-col>
    <ion-col>
      
        <ion-col size="12">
          <ion-card-header style="padding: 0% !important; margin-left:35px; margin-bottom: 10px;">
            
            <ion-row>
              <ion-card-title style="color:black; font-size:12px; font-weight: bold;"
                >{{ cred["credentialSubject"]["first_name"] }}</ion-card-title
              >
            </ion-row>
            <ion-row>
              <ion-card-title style="color:black; font-size:12px; font-weight: bold;"
                >{{ cred["credentialSubject"]["last_name"] }}</ion-card-title
              >
            </ion-row>
            
          </ion-card-header>
        </ion-col>
        <ion-col size="12" align-self-end style="margin-left:12px">
          <img  (click)="qrView()" alt src="assets/icon/41.png" width="auto" height="40px"/>
            <ion-row style="justify-content: end;">
              <ion-button
                  class="vc-view-button"
                  size="small"
                  style="padding: 0%;"
                  (click)="deleteVC()"
                  ><ion-icon color="secondary" name="trash-outline"></ion-icon
                ></ion-button>
            </ion-row>
        </ion-col>
      
    </ion-col>
  </ion-col>
  <span></span>
  <ion-alert
    [isOpen]="isAlertOpenNotFound"
    class="custom-alert"
    header="Alerta"
    message="Al generar este código, aceptas que los datos contenidos en tu permiso, y su situación legal, se muestren en el dispositivo lector para verificar su validez."
    [buttons]="alertButtons"
    (didDismiss)="setOpenNotFound(false)"
  ></ion-alert>
  <ion-modal [isOpen]="isModalOpen" id="example-modal" #modal>
    <ng-template>
      <div class="wrapper">
        <ion-header>
          <ion-toolbar>
            <ion-title>QR Credential</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content style="min-height: 24rem" class="ion-padding">
          <qr-code [value]="cred['id']" [size]="350"></qr-code>
        </ion-content>
      </div>
    </ng-template>
    
  </ion-modal>

  <ion-alert
    [isOpen]="isModalDeleteOpen"
    class="custom-alert"
    header="Vols eliminar la credencial?"
    message="Si elimines la credencial de l'aplicació i necessites recuperar-la hauràs de demanar-ne una de nova."
    [buttons]="deleteButtons"
    (didDismiss)="setOpenDeleteNotFound(false)"
  ></ion-alert>

  <ion-row style="position: absolute; bottom: 0; width: 100%; background-color: var(--ion-color-primary); padding: 4px;">
    <ion-col></ion-col>
  </ion-row>
</ion-card>
