ion-modal.stack-modal {
    --color:black;
  }

  .button-row{
    padding-right: 20px;
  }

.request-signature-button{
  width: 27.3px;
  height: 27.3px;
  background: transparent;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  right: 20px;
  top: 44px;
}

.request-signature-button img{
  opacity: 0.5;
}

.modal-title {
  font-size: 23px;
}

.section-divider {
  margin-top: 16px;
  border-radius: 6px;
}

.section-title {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #2f2f2f;
}

.field-item {
  margin-bottom: 4px;
}

.field-label {
  font-size: 14px;
  color: #333;
}

ion-footer {
  border-top: 1px solid #ddd;
  background: #fff;
}

ion-button[color="primary"] {
  font-weight: 500;
  padding: 0%;
  float: right;
}

.white-header {
  background: white !important;
}

ion-item-divider:last-of-type {
  display: flex !important;
}
ion-label {
  margin: 0 !important;
}