<ion-content [fullscreen]="true">
  <ion-grid>
    <p style="font-weight: bold;">{{"language-selector.title"|translate}}</p>
    <ion-row class="ion-justify-content-start">
      <ion-list>
        <ion-radio-group [ngModel]="languageSelected | async" (ionChange)="languageChange($any($event).target?.value)">
          <ion-item *ngFor="let language of languageList">
            <ion-label>{{ language.name }}</ion-label>
            <ion-radio [value]="language" mode="md" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-row>

  </ion-grid>
</ion-content>
