<ion-content [fullscreen]="true" class="camera-selector-content" >
  <ion-grid>
    <b class="pages_titles">{{"camera-selector.settings" | translate}}</b>
    <p class="camera-selector-title">{{"camera-selector.title" | translate}}</p>
    <ion-row class="ion-justify-content-start" class="camera-row">
      <ng-container *ngIf="selectedDevice$ | async as selectedDevice">
        <ion-select [ngModel]="selectedDevice" (ionChange)="onDeviceSelectChange($any($event).target?.value)" interface="popover" class="camera-select">
          <ion-select-option value="" *ngIf="availableDevices.length<1">{{"camera-selector.no-device" | translate}}</ion-select-option>
          <ion-select-option *ngIf="selectedDevice === 'Default'" value="Default">{{"camera-selector.default-device" | translate}}</ion-select-option>
          <ion-select-option *ngFor="let camera of availableDevices" [value]="camera.deviceId">
            {{ camera.label}}
          </ion-select-option>
        </ion-select>
    </ng-container>
    </ion-row>

    @if(showBarcode){
      <ion-row class="ion-justify-content-center">
        <app-barcode-scanner
          (availableDevices)="availableDevicesEmit($event)"
        ></app-barcode-scanner>
      </ion-row>
    }
  </ion-grid>

</ion-content>