<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camera-selector</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2 class="text-center text-lg font-semibold my-3">Select a camera</h2>

        <ul>
        
            <li class="mx-4 my-2 shadow-md">
                <a>
                    <div class="flex p-3">
                    <p class="text-lg font-medium"></p>
                    </div>
                </a>
            </li>         
        </ul>
</ion-content>
