.camera-selector-content {
    --ion-background-color: #DDE6F6;
  }

  .select-row {
    margin-bottom: 10px;
  }

  .camera-select {
    width: auto;
    padding-inline: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }