.camera-selector-content {
    --ion-background-color: #DDE6F6
  }

  .camera-select {
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .camera-row {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .camera-selector-title {
    margin-left: 20px;
  }

  ion-select{
    padding-left: 20px;
  }
