

<ion-content [fullscreen]="true" class="vc-selector-content">
  <ion-grid >
    <ion-row class="ion-justify-content-center"
    *ngFor="let cred of credList; let i = index" >
    <ion-card [ngStyle]="{'opacity': isClick[i] ? '0.5' : '1'}" (click)="selectCred(cred,i)" onkeypress="selectCred(cred,i)" class="vc-selector-card">
      <app-vc-view [credentialInput]="cred"></app-vc-view>
    </ion-card>
    </ion-row>
  </ion-grid>

<!-- el punto 5  -->

  <ion-alert
  [isOpen]="isAlertOpen"
  class="custom-alert"
  [header]=" 'vc-selector.ok-header' | translate"
  message='<img src="../assets/icon/Tick/checkmark-verd.png" alt="g-maps" class="vs-selector-alert">'
  [buttons] = "closeButton"
  cssClass="custom-close-button"
  >
</ion-alert>

</ion-content>
<ion-footer [translucent]="false">
  <ion-row class="ion-justify-content-center">
    <ion-button disabled="{{!isClickedAny}}"  (click)="sendCred()" onkeypress="sendCred()">Enviar</ion-button>

  </ion-row>

</ion-footer>
