.select-text{
  font-weight: 700;
  padding-top: 12px;
  padding-left: 12px;
}

.vc-selector-content {
  --ion-background-color: #DDE6F6 !important;
  box-shadow: none;
}

.vc-selector-card {
  --ion-background-color: #DDE6F6;
  background-color: #DDE6F6;
  box-shadow: none;
}
