<ion-header [translucent]="false">
  <ion-toolbar style="padding-right: 0.5rem;">
    <img alt src="assets/icon/IDEP_blanc_400x200.png" width="auto" slot="start" height="35px"/>
    <ion-text slot="primary" color="white">{{userName}}</ion-text>
    <ion-icon slot="end" class="ion-icon-home" size="small" name="person"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid >
    <ion-row class="ion-justify-content-center"
    *ngFor="let cred of credList; let i = index">
    <ion-card (click)="sendCred(cred)">

      <app-vc-view [credentialInput]="cred"></app-vc-view>
    </ion-card>
    </ion-row>
  </ion-grid>



  <ion-alert
  [isOpen]="isAlertOpen"
  class="custom-alert"
  [header]=" 'vc-selector.ok-header' | translate"
  message='<img src="../assets/icon/Tick/checkmark-verd.png" alt="g-maps" style="border-radius: 2px">'
  (didDismiss)="setOpen(false)"
></ion-alert>  <ion-alert
[isOpen]="isAlertOpenFail"
class="custom-alert"
[header]=" 'vc-selector.ko-header' | translate"
[message]=" 'vc-selector.ko-message' | translate"
(didDismiss)="setOpen(false)"
></ion-alert>
</ion-content>
<ion-footer [translucent]="false">


</ion-footer>