.select-text{
  font-weight: 700;
  padding-top: 12px;
  padding-left: 12px;
}

ion-button:focus {
  --background: #067856;
  --color: white;
}
ion-alert.custom-alert {   
    --ion-text-color:black;
    --backdrop-opacity: 0.7;
  }

.custom-close-button {
  color: #000000;
}

.vc-selector-content {
  --ion-background-color: #DDE6F6 !important;
  box-shadow: none;
}

.vc-selector-card {
  --ion-background-color: #DDE6F6;
  background-color: #DDE6F6;
  box-shadow: none;
}

.vc-selector-alert {
  border-radius: 2px;
  max-width: 60%;
}
