html, body {
  background-color: white;
  @media (prefers-color-scheme: dark) {
    background-color: white;
  }
}

.main-content{
  margin-top: 4rem;
  background-color: #DDE6F6;
}

.toast-custom {
  color: red !important;
  font-weight: bold;
  transform: translateY(-7%);
}

ion-toast::part(container) {
  background-color: #f2f2f2 !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.19) !important;
}

ion-alert.custom-alert {
  background-color: white !important;
  color: red !important;
  }

.vc-view-button{
  color:black;
}
  ion-modal#example-modal {
    --width: fit-content;
    --min-width: 20rem;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }

  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }

  ion-modal#example-modal ion-icon {
    margin-right: 6px;

    width: 48px;
    height: 48px;

    padding: 4px 0;

    color: #aaaaaa;
  }

  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }


  .register{
    width: -webkit-fill-available;
}

.content {
    --background: url("../../customAssets/icon/background.png") center/cover fixed no-repeat;

}

.item-trns {
    --ion-item-background: transparent;
	color: #B0FF2B;
}
ion-item{
    --border-color:#ffffff;
}
.custom-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ion-button-custom{
    --ion-color-base:#B0FF2B!important;
    --ion-color-contrast:black!important;
}
.ion-button-custom[disabled]{
    --ion-color-base:grey!important;
  }
  .header-logo{
    height: 9rem ;
  }
  .login-row{
    margin-top: 2rem;
  }

  .custom-button-row {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 60px;
    margin-right: 20px;
  }

  .pages_titles {
    margin: 20px;
    font-size: 1em;
    font-weight: bold;
  }
  .custom-alert-delete {
    display: flex;
  }

  .custom-alert-delete .alert-title {
    font-weight: bold;
    font-size: 14px
  }

  .alert-button-role-confirm {
    color: black !important;
    text-transform: none !important;
    font-weight: bold !important;
  }

  .alert-button-role-cancel {
    color: black !important;
    text-transform: none !important;
  }

  .alert-button-group {
    display: flex;
    justify-content: space-between !important;
  }

  .alert.head {
    font-size: 12px !important;
  }

  .toolbar-container {
    flex-direction: column !important;
    display: flex !important;
    justify-content: end !important;
  }

  ion-button.toolbar-but {
    --box-shadow: none !important;
    text-transform: none;
  }

  .custom-popover {
    --background: #00ADD3;
  }
  .logout-list {
    background-color: #00ADD3;
  }

  .background-content {
    --ion-background-color: #DDE6F6;
  }

  .toolbar-padding {
    padding-right: 0.5rem;
  }

  .language-list {
    --ion-item-background: #DDE6F6;
    --ion-item-color: grey;
  }

  .language-label-name {
    color:grey;
  }

  .language-radio {
    color:grey;
    --color-checked: grey;
    width: 15px;
    height: 15px;
  }

  .radio-items {
    --border-color: #DDE6F6;
  }


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
