


<ion-content [fullscreen]="true" class="ion-padding content">
  <ion-header [translucent]="false">
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
<br/>
      <ion-grid>
        <ion-row class="ion-justify-content-first"> You are using the IN2 wallet </ion-row>
        <br/>
        <ion-row class="ion-justify-content-center">
          <form [formGroup]="login" (ngSubmit)="onSubmit()">
            <ion-item class="item-trns">
              <ion-grid>
              <ion-row><ion-label >Email</ion-label></ion-row>
              <ion-row><ion-input type="text" required formControlName="username"></ion-input></ion-row>
            </ion-grid>
            </ion-item >
            <br/>
            <ion-item class="item-trns">
              <ion-grid>
              <ion-row><ion-label>Password</ion-label></ion-row>
              <ion-row><ion-input type="password" required formControlName="password"></ion-input></ion-row>
            </ion-grid>
            </ion-item>
            <ion-button fill="clear" color="secondary"[routerLink]="['/register']">New User? Click to register</ion-button>

            <ion-row>
              <ion-col>
                <ion-button color="secondary" type="submit" [disabled]="!login.valid">Login</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-row>
        <ion-row class="ion-justify-content-center">
        </ion-row>
      </ion-grid>

  
</ion-content>
