
@if(isError$()){
    <div><ion-icon aria-hidden="true" name="videocam-off-outline"></ion-icon></div>
}@else if(!firstActivationCompleted){
    <div class="">
        {{ "barcode.initializing" | translate}} <ion-spinner></ion-spinner>
    </div>
}

<zxing-scanner
#scanner
[style.display]="firstActivationCompleted ? 'block' : 'none'"
class="scanner"
[autostart]="false"
[formats]="allowedFormats"
(scanSuccess)="onCodeResult($event)"
(scanError)="onScanError($event)" 
(scanFailure)="onScanFailure($event)"
></zxing-scanner>



