
<!-- todo -->
@if( !this.firstActivationCompleted && (!isDestroyingBarcode$()?.length || isDestroyingBarcode$()?.length === 0) ){
    <div class="">
        Disabling previous camera streams...
    </div>
}@else if(selectedDevice$() === undefined){
    <div class="no-device">
        Trying to get to a device...
    </div>
}@else if(!firstActivationCompleted){
    <div class="">
        Activating scanner...
    </div>
}

<zxing-scanner
#scanner
[style.display]="(selectedDevice$() && firstActivationCompleted) ? 'block' : 'none'"
class="scanner"
[autostart]="false"
[formats]="allowedFormats"
(scanSuccess)="onCodeResult($event)"
(scanError)="onScanError($event)" 
(scanFailure)="onScanFailure($event)"
></zxing-scanner>



