<ion-app [ngClass]="{ 'no-header': isCallbackRoute }">
  <ion-header [translucent]="false" *ngIf="!isCallbackRoute">
    <ion-toolbar class="toolbar" [ngClass]="{ 'blurred': isCallbackRoute }">
      <img alt="DOME Logo" [src]="logoSrc" width="auto" slot="start" height="35px" class="logo"/>
      <ion-button
        slot="end"
        class="toolbar-but"
        [disabled]="isCallbackRoute"
        (click)="openPopover($event)"
        (keydown)="handleKeydown($event)"
        >
        {{userName | async}} 
        <ion-icon
          slot="end"
          class="ion-icon-home"
          size="small"
          name="person"
        ></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet id="main-content" class="main-content"></ion-router-outlet>
</ion-app>
