<ion-app>
  <ion-header [translucent]="false">
    <ion-toolbar class="toolbar">
      <img alt src="assets/icon/dome_white_logo.png" width="auto" slot="start" height="35px"/>
      <ion-button
        slot="end"
        color="primary"
        class="toolbar-but"
        (click)="openPopover($event)"
        (keydown)="handleKeydown($event)"
        >
        {{userName | async}}
        <ion-icon
          slot="end"
          size="small"
          name="person"
        ></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet id="main-content" class="main-content"></ion-router-outlet>
</ion-app>
