.custom-button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userData {
  padding: 0.5rem;
  background-color: rgba(226, 226, 226, 0.644);
}

ion-button {
  --box-shadow: 3px 3px 5px 1px #B0FF2B;
}

.boton-fijo {
  position: fixed;
  left: 0;
  bottom: 10px;
  right: 0;
}

.popup-bg-cover {
  z-index: 9999;

  width: 100%;
  height: 100vh;

  background-color: rgba(128, 128, 128, 0.448);
}

.ebsi-popup {
  z-index: 99999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  width: auto;

  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  bordeR: 2px solid black;
  border-radius: 5px;

  background-color: white;
}

.did-data-wrapper div {
  display: flex;

  word-break: break-all;
}

.did-data-wrapper button {
  margin: 5px;

  background-color: transparent;
}

.did-data-wrapper span {
  padding: 20px;
  padding-right: 0px;
}

.next-button-ebsi {
  background-color: #00ADD3;

  font-family: 'Blinker-Regular', sans-serif;
  color: white;

  padding: 10px;

  border-radius: 5px;
}

.next-button-ebsi:hover {
  background-color: #0091b1;
}

.next-button-ebsi:active {
  background-color: #007995;
}

#did-text {
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
    .boton-fijo {
        position: fixed;
        left: 0;
        bottom: 10px;
        right: 0;
    }
