.custom-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userData {
    padding: 0.5rem;
    background-color: rgba(226, 226, 226, 0.644);
}
ion-button {
    --box-shadow: 3px 3px 5px 1px #203d76;
    }
    .boton-fijo {
        position: fixed;
        left: 0;
        bottom: 10px;
        right: 0;
    }
.scan-button {
    margin-top:5rem;
    width: 15rem;
    height: 5rem;
}

.home-text {
    font-weight: bold;
}

.alert-ok {
    border-radius: 2px;
}

.home-content {
    --ion-background-color: #DDE6F6;
}

.toolbar {
    padding-right: 0.5rem;
}