<ion-content [fullscreen]="true" class="ion-padding home-content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-button
        style="margin-top: 5rem; width: 15rem; height: 5rem"
        size="large"
        (click)="startScan()"
        (keydown)="handleButtonKeydown($event)"
      >
        <div class="custom-button-content">
          <ion-icon size="large" color="white" name="qr-code"></ion-icon
          ><ion-label>{{"home.scan"|translate}}</ion-label>
        </div></ion-button
      >
    </ion-row>

  </ion-grid>
</ion-content>
