ion-alert.custom-alert {   
    --ion-text-color:black;
    --backdrop-opacity: 0.7;
  }

  ion-modal#example-modal {
    --width: fit-content;
    --min-width: 20rem;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #aaaaaa;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }
  .register{
    width: -webkit-fill-available;
}

.content {
    --background: url("../../../assets/icon/background.png") center/cover fixed no-repeat;
}

.item-trns {
    --ion-item-background: transparent;
	color: #B0FF2B; 
}
ion-item{
    --border-color:#B0FF2B;
}
.custom-button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ion-button-custom{
    --ion-color-base:#B0FF2B!important;
    --ion-color-contrast:black!important;
}
.ion-button-custom[disabled]{
    --ion-color-base:grey!important;
  }
  .header-logo{
    height: 9rem ;
  }
  .login-row{
    margin-top: 2rem;
  }