/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-alert.custom-alert {   
    --ion-text-color:black;
    --backdrop-opacity: 0.7;
  }

  ion-modal#example-modal {
    --width: fit-content;
    --min-width: 20rem;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #aaaaaa;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }


  .login-grid {
    background-color: #ffffff;
  }

  .item-username {
    --ion-item-background: #F4F4F4;
    color: #D8D8D8;
    --border-color:#D8D8D8 !important;
  }

  .ion-button-in2 {
    --ion-color-base: #203d76 !important;
  }

  .ion-button-register {
    color: #203d76 !important;
    text-decoration: underline;
    text-transform: none;
    font-weight: bold;
  }


  .item-sidebar {
    --ion-item-background: #ffffff
  }

  .ion-label-sidebar {
    font-weight: bold !important;
    color:#203d76 !important;
  }

  .ion-icon-sidebar {
    color: #203d76 !important;
  }

  .ion-header-sidebar {
    --ion-text-color:#203d76 !important;
  }

  .item-content-sidebar {
    --padding-start: 0px !important;
    --padding-end: 0px !important;
    --padding-top: 80px !important;
    --padding-bottom: 0px !important;
  }

  .ion-icon-home {
    color: #B0FF2B !important;
    margin-right: 20px;
  }

  .vc-view-button {
    --background: #B0FF2B !important;
    align-self: baseline !important;
  }

  ion-menu.md ion-item.selected {
    --background: #B0FF2B !important;
  }

  .ion-text-login {
    font-size: 20px;
  }

  .welcome-text {
    height: 35px;
  }

  .user-welcome {
    width: 180px !important;
  }

  .userDataIn2 {
    padding: 0.5rem;
    background-color: rgba(226, 226, 226, 0.644);
    width: fit-content !important;
    align-items: end;
  }

  .userDataCol {
    justify-content: end;
    display: contents;
  }