<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Credential Offer</ion-title>
    <img alt src="https://www.evidenceledger.eu/images/logo.png" width="auto" slot="end" height="60px"/>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

  <ion-row class="ion-justify-content-center">
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <ion-item class="item-trns">
        <ion-select  formControlName="issuerName" labelPlacement="floating" required placeholder="Issuer">
          <ion-select-option [value]="issuer" *ngFor="let issuer of issuersList">{{issuer}}</ion-select-option>
        </ion-select>        <ion-icon name="home-outline" slot="start"></ion-icon>

      </ion-item >
      <br/>
      <ion-item class="item-trns">
        <ion-select  formControlName="did" labelPlacement="floating" required placeholder="DID">
          <ion-select-option lable="did['did']" [value]="did['did']" *ngFor="let did of didsList"><ion-text style="color:black" color="secondary">{{did['did']}}</ion-text></ion-select-option>
        </ion-select>        <ion-icon name="key-outline" slot="start"></ion-icon>

      </ion-item>


      <ion-row class="login-row">
        <ion-col>
          <ion-button expand="block" type="submit">Create Credential</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-row>
</ion-grid>


<ion-alert
[isOpen]="isAlertOpen"
class="custom-alert"
header="Congratulations"
message="VC saved"
(didDismiss)="setOpen(false)"
></ion-alert> 
</ion-content>
