<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Credential Offer</ion-title>
    <img alt src="https://www.evidenceledger.eu/images/logo.png" width="auto" slot="end" height="60px"/>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">credential-offer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-select label="Default label" placeholder="Favorite Fruit">
        <ion-select-option value="issuer" *ngFor="let issuer of issuersList">{{issuer['issuerName']}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select aria-label="Fruit" placeholder="Favorite Fruit">
        <ion-select-option lable="did['did']" [value]="did['did']" *ngFor="let did of didsList"><ion-text style="color:black" color="secondary">aa{{did['did']}}</ion-text></ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
